@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-image:url('https://images.unsplash.com/photo-1601748615907-674b3ce9142e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80'); */
    background-color: teal;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'poppins',sans-serif;
}

#search-form
{
    display: flex;
    justify-content: center;
    text-align: center;
}
#search-button{
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #ffff;
    border-radius: 5px;
    margin-left: 5px;
    padding: 11px;
    border: 2px solid #494949;
    display: inline-block;
    transition: all 0.4 ease 0s;

}
#search-button:hover{
    color: white;
    background: #ff6768;
    border-color: #ff6768;
    transition: all 0.4s ease 0s;
}
#location-input{
    width: 4%px;
    overflow: hidden;
    font-size: 1.5em;
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 3px solid black;
    color:black;
    outline:    2px;
    background: none;
}


.container{
    /* background-color: rgba(97, 97, 109, 0.6); */
    padding: 20px 70px;
    color:white;
}
.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container{
    font-weight: 100;
}
.date-container .time{
    font-size: 4em;
    
}
.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}
.date-container .date{
    font-size: 30px;
}
.place-container{
    text-align: end;
}
.place-container .time-zone{
    font-size: 2em;
    font-weight: 100;
}
.place-container .country{
    font-size: 0.8em;
    font-weight: 700;
}
.current-info .others{
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin:10px 0;;
    border: 1px solid #eee;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
    background: rgba(24, 24, 27, 0.8);
    padding: 0.5%;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: start;
}
.future-forecast .today{
    border: 2px solid #eee;
    border-radius: 10px ;
    padding: 0.5%;
    margin: 0.5%;
    display: flex;
    align-items: center;
    justify-content:start;
}
.future-forecast .today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 0.5%;
    text-align: center;
}
.future-forecast .today .temp{
    font-size: 1.2em;
    padding-top: 0.8em;
}
.future-forecast .weather-forecast{
    display: flex;

}
.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0.6em;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 0.6em;
}
.weather-forecast .weather-forecast-item .day{
    padding: 5px 0.6em;
    background: #3c3c44;
    border-radius: 1em;
    text-align: center;
}
.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

.search-container{
    overflow-y: visible;
    z-index: 999;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background-color: rgba(97, 97, 109, 0.6); */
}

@media only screen and (max-width:730px){
    .future-forecast{
        z-index: 99;
        justify-content: end;
        align-items: none;
        overflow-y: scroll;
    }
    .future-forecast .today .temp{
        font-size: 1em;
    }
    .date-container .time{
        font-size: 3em;

    }
    .date-container #am-pm{
        font-size: 1em;

    }
    .date-container .date{
        font-size: 1em;

    }
    .place-container{
        text-align: end;
        margin-top: 0.8em;
    }
    .place-container .time-zone{
        font-size: 1em;

    }
    .current-info .others{
        padding: 0.8em;
    }
    .current-info .other .weather-item{
        font-size: 0.8em;
    }
}
@media only screen and(max-width:1000ppx){
    .future-forecast{
        justify-content: end;
        align-items: none;
        overflow-y: scroll;
    } 

    
 } 