*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    animation: shakeBody linear 0.6s infinite;
    
}
.sky{
    height:100vh ;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: repeat-x;
    position :absolute;

}
.nature{
    height: 100vh;
    width: 100%;
    background-image: url(Nature.png);
    background-size: cover;
    position: absolute;
    top: -144px;
    
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 70vh;
    animation: carMove linear 10s infinite ;
}
.car{
    height: 186px;
     width: 323px;
     background-image: url(car.png);
     background-size: cover;
     background-repeat: no-repeat;
     position: absolute;
     left:144px;
     bottom:110px;
     animation: shake 2s linear infinite;

} 
.wheel1 img {
    width: 53px;
    position: relative;
    top: 121px;
    left: 34px;
    animation: wheelRotation linear 0.6s infinite;
   

}

.wheel2 img     {
    width: 53px;
    position: relative;
    top: 68px;
    left: 229px;
    animation: wheelRotation linear 0.6s infinite;

}
@keyframes wheelRotation{
    100%{transform: rotate(360deg);
    }

} 
@keyframes carMove{
    100%{transform: translateX(-500vw);
    }

} 

@keyframes shake{
    0%{transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }

}
@keyframes shakeBody{
    0%{transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }

}
